* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: sans-serif;    
}

h1 {
    margin: .5em 0 1em;
}

#grid {
    margin: 1em auto;
    border-spacing: 0;
    border-collapse: collapse;
    
}

#grid td {
    border: 1px solid #333;    
}

#grid input[type = "checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    display: block;
    width: 25px;
    height: 25px;    
    background: white;
    transition: box-shadow .2s ease-in-out;
    /*animation: death 1s;*/
}

@keyframes birth {
    50% {
       box-shadow: 0 0 0 99px #34de34 inset; 
    }
}

@keyframes death {
    50% {
        box-shadow: 0 0 0 99px #de3434 inset; 
    }
}

#grid input[type = "checkbox"]:checked {
    
    box-shadow: 0 0 0 99px black inset;
    /*animation: birth 1s;*/
}

button,
.button {
    display: inline-block;
    box-sizing: border-box;
    padding: .4em .6em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    background-color: #6d12c9;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
    font: inherit;
    font-weight: bold;
    outline: none;
    color: white;
    cursor: pointer;
    transition: background-color .1s linear;
}

button:enabled:active,
.button:active,
input[type="checkbox"]:checked + label.button {
    background-color: #ba00ff;    
}

button:disabled {
    background-color: #797979;
    cursor: not-allowed;
}

#autoplay {
    position: absolute;
    clip: rect(0,0,0,0);
}